/*
 *
 * Common
 *
   ========================================================================== */
  body {
    font-size: $body-font-size;
    color: $gray;
  }

  .section {
    margin-top: 2*$space;
    width: 100%;
  }

   .container {
     max-width: 1120px;
   }

  .btn {
    width: 160px;
    height: 48px;
    color: $purple;
    border: 1px solid $purple;
    background: transparent;
    border-radius: 4px;
    &__purple {
      color: $white;
      border: 1px solid $blue-dark;
      background-color: $purple;
      border-radius: 4px;
    }
    &__white {
      color: $white;
      border: 1px solid $white;
      border-radius: 4px;
    }
  }

   ::-webkit-input-placeholder {
    color: rgba($white, 0.4);
}

.feather__icon {
  &__wrap {
    width: 32px;
    height: 32px;
  }
  fill: $white;
  stroke: $white;
  width: 32px;
  height: 32px;
}