//Variables


//breakpoints
$breakpoint1: 320px;
$breakpoint2: 768px;
$breakpoint3: 960px;
$breakpoint4: 1200px;
//Colors
$white: #ffffff;
$white-dark: #f8f8f8;
$purple: #7a217f;
$gray-light: #b7b7b7;
$gray: #707070;
$gray-dark: #767676;
$blue-light: #00a3e2;
$blue: #4a90e2;
$blue-dark: #0d70b7;
$black: #000000;

//spacers
$space: 2rem;
$padding-space: 1rem;

//font-sizes
$h1-font-size: 2.25rem;
$h2-font-size: 2rem;
$h3-font-size: 1.25rem;
$body-font-size: 1rem;
$p-font-size: 0.75rem;
$headmenu-font-size: 1rem;
$menu-font-size: 0.75rem;
