<section class="section about">
    <div class="about__wrap">
        <div class="about__box about__box-1">
            <div class="about__box-inner"><h3>Typing & Data Entry</h3></div>
            <span class="feather__wrap">
                <svg class="feather__icon feather__icon-about">
                    <use xlink:href="../img/feather-sprite.svg#edit-3"></use>
                </svg>
            </span>
        </div>
        <div class="about__box about__box-2">
            <div class="about__box-inner"><h3>In-house DeadEnd Development</h3></div>
            <span class="feather__wrap">
                <svg class="feather__icon feather__icon-about">
                    <use xlink:href="../img/feather-sprite.svg#home"></use>
                </svg>
            </span>
        </div>
        <div class="about__box about__box-3">
            <div class="about__box-inner"><h3>Contact Centre</h3></div>
            <span class="feather__wrap">
                <svg class="feather__icon feather__icon-about">
                    <use xlink:href="../img/feather-sprite.svg#phone-call"></use>
                </svg>
            </span>
        </div>
        <div class="about__box about__box-4">
            <div class="about__box-inner"><h3>MicrosOFF</h3></div>
            <span class="feather__wrap">
                <svg class="feather__icon feather__icon-about">
                    <use xlink:href="../img/feather-sprite.svg#monitor"></use>
                </svg>
            </span>
        </div>
    </div>
</section>