<section class="section adress">
    <div class="adress__map">
    </div>
    <div class="vcard adress__data">
        <div class="adress__data-wrap">
            <p><span class="org adress__data-name">DeadEnd Software</span></p>
            <div class="adr">
                    <p><span class="str">ul. Wiejska 45A, </span><span class="postal-code">15-351</span></p>
                    <p><span class="locality">Białystok </span><span class="region">woj. podlaskie</span></p> 
            </div>
        </div>
        <div class="adress__data-wrap">
            <p><span class="adress__data-label">Email:</span><span class="email adress__data-mail">www@com</span></p>
            <p><span class="adress__data-label">Telephone:</span><span class="telephone adress__data-tel">123 456 789</span></p>
        </div>
    </div>
</section>