<footer class="section footer">
    <div class="container footer__wrap">
        <nav class="footer__nav">
            <div class="footer__nav-block">
                <ul class="footer__nav-list">
                    <li><p class="footer__nav-title">Lorem ipsum</p></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">Lorem ipsum dolor</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">sit amet bla bla</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">believe high contrast</a></li>
                </ul>
                <ul class="footer__nav-list">
                    <li><p class="footer__nav-title">Lorem ipsum</p></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">display this</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">it is heavy</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">this just rocks</a></li>
                </ul>
            </div>
            <div class="footer__nav-block">
                <ul class="footer__nav-list">
                    <li><p class="footer__nav-title">Lorem ipsum</p></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">cover</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">play this</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">just another day</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">for you and me</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">in paradise</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">tell me</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">oh tell me</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">why oh why</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">did you cry</a></li>
                </ul>
            </div>
            <div class="footer__nav-block">
                <ul class="footer__nav-list">
                    <li><p class="footer__nav-title">Lorem ipsum</p></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">admin</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">moderator</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">user</a></li>
                </ul>
                <ul class="footer__nav-list">
                    <li><p class="footer__nav-title">Lorem ipsum</p></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">classified</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">semi-classified</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">not classified</a></li>
                </ul>
            </div>
            <div class="footer__nav-block">
                <ul class="footer__nav-list">
                    <li><p class="footer__nav-title">Lorem ipsum</p></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">title1</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">title2</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">title3</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">title4</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">title5</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">title6</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">title7</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">title8</a></li>
                    <li class="footer__nav-item"><a href ="#" class="footer__nav-link">title9</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="copyright container">
        <p class="copyright__text">&copy; 2018 DeadEnd Development. All rights reserved.</p>
        <nav class="copyright__nav-wrap">
            <ul class="copyright__nav">
                <li><a href="#" class="copyright__nav-link">Privacy Policy</a></li>
                <li><a href="#" class="copyright__nav-link">Site map</a></li>
                <li><a href="#" class="copyright__nav-link">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</footer>