<header class="header">
    <div class="header__top">
        <nav class="header__social container">
            <ul class="header__social-nav">
                <li><a href="#" class="header__social-links">Twitter</a></li>
                <li><a href="#" class="header__social-links">LinkedIn</a></li>
            </ul>
        </nav>
    </div>
    <div class="header__bot container">
        <p class="header__nav-brand"><a><strong>DeadEnd</strong><br><span>development</span></a></p>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="#" class="header__nav-link">Skill testing</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link">Training</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link">Create your own</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link">About Us</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link">News</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link header__nav-link--special">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>