<div class="partners">
    <p class="who-work container">
        Who we work with
    </p>
    <div class="partners__box container">
        <img class="partners__img" src="/img/partners.jpg" alt="partner logos" id="partner1"/>
        <img class="partners__img" src="/img/partners.jpg" alt="partner logos" id="partner2"/>
        <img class="partners__img" src="/img/partners.jpg" alt="partner logos" id="partner3"/>
        <img class="partners__img" src="/img/partners.jpg" alt="partner logos" id="partner4"/>
        <img class="partners__img" src="/img/partners.jpg" alt="partner logos" id="partner5"/>
        <img class="partners__img" src="/img/partners.jpg" alt="partner logos" id="partner6"/>
        <img class="partners__img" src="/img/partners.jpg" alt="partner logos" id="partner7"/>
        <img class="partners__img" src="/img/partners.jpg" alt="partner logos" id="partner8"/>
    </div>
</div>