<section class="testimonials section">
<div class="testimonials__wrap">
    <div class="testimonials__slider">
        <div>
            <div class="testimonials__item active  item0" data-js="00">
                <div class="testimonials__image"><img src="http://via.placeholder.com/350x250" alt="photo of a person"></div>
                <div class="testimonials__text-wrap">
                    <blockquote class="testimonials__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nulla erat, cursus id est id, placerat dignissim leo. Aenean cursus, risus et dictum fringilla, est enim mattis ex, vitae ornare turpis nunc id velit.</blockquote>
                    <p class="testimonials__sign vcard"><span class="fn testimonials__sign-name">Edyta Kulesza </span><span class="position testimonials__sign-position">DeadEnd Development Specialist</span></p>
                </div>
            </div>
        </div>
        <div>
            <div class="testimonials__item item1">
                <div class="testimonials__image"><img src="http://via.placeholder.com/350x250" alt="photo of a person"></div>
                <div class="testimonials__text-wrap">
                    <blockquote class="testimonials__text">Aliquam vel blandit magna, a imperdiet felis. Curabitur mollis sagittis consequat.</blockquote>
                    <p class="testimonials__sign vcard"><span class="fn testimonials__sign-name">Ala Makota </span><span class="position testimonials__sign-position">DeadEnd Development Specialist</span></p>
                </div>
            </div>
        </div>
        <div>
            <div class="testimonials__item item2">
                <div class="testimonials__image"><img src="http://via.placeholder.com/350x250" alt="photo of a person"></div>
                <div class="testimonials__text-wrap">
                    <blockquote class="testimonials__text">Aliquam vel blandit magna, a imperdiet felis. Curabitur mollis sagittis consequat.</blockquote>
                    <p class="testimonials__sign vcard"><span class="fn testimonials__sign-name">Ala Makota </span><span class="position testimonials__sign-position">DeadEnd Development Specialist</span></p>
                </div>
            </div>
        </div>
        <div>
            <div class="testimonials__item  item3">
                <div class="testimonials__image"><img src="http://via.placeholder.com/350x250" alt="photo of a person"></div>
                <div class="testimonials__text-wrap">
                    <blockquote class="testimonials__text">Nulla id lacinia lectus, quis fringilla dolor. Quisque sit amet velit lorem. Suspendisse id tortor enim.</blockquote>
                    <p class="testimonials__sign vcard"><span class="fn testimonials__sign-name">Podaj Trampki </span><span class="position testimonials__sign-position">DeadEnd Development Specialist</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>