<section class="section tweet">
<div class="tweet__img">
        
        <div class="tweet__wrap container">
                <span class="feather__icon-wrap">
                        <svg class="feather__icon feather__tweet">
                                <use xlink:href="../img/feather-sprite.svg#twitter"></use>
                        </svg>
                </span>
                <h3 class="tweet__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <p class="tweet__text"> @Autor: DeadEndDevelopment </p>
        </div>
</div>
<div class=" tweet__button-wrap">
        <button class="tweet__button btn">Learn more</button>
        <button class="tweet__button btn btn__purple">Learn less</button>
</div>

</section>