<section class="section visual">
    <div class="container visual__map">
        <h2 class="visual__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p class="visual__text"> Consectetur adipiscing elit.Cras nec laoreet justo, vel fringilla mi. Lorem ipsum dolor sit amet, Cras nec laoreet justo, vel fringilla mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. Sed ultrices quis magna pulvinar vestibulum.  Cras nec laoreet justo, vel fringilla mi.</p>
       <div class="visual__span">
        <span class="visual__span__pad">
            <p class="visual__number">78</p>
            <p class="visual__pspan">Organisations</p>
        </span>
        <span class="visual__span__pad">
            <p class="visual__number">2,765</p>
            <p class="visual__pspan">Testers</p>
        </span>
        <span class="visual__span__pad">
            <p class="visual__number">12 </p>
            <p class="visual__pspan"> Countries </p>
        </span>
        </div>
    </div>
</section>